<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1> 均线告警参数设置 </H1>
    <form action="" method="post">
        {% csrf_token %}
        <h2>
            均线  <select name="maalarm" id="maalarm">
                    <option value="60MA">60</option>
            </select>
        </h2>

        <h2>
            品种  <select name="name" id="name">
                    <option value="ETCUSDT">ETHUSDT</option>
                    <option value="BTCUSDT">BTCUSDT</option>
            </select>
        </h2>

        <h2>K线周期</h2>

            <p>
                1min: <input type="checkbox" name="bar" value="1min" /><br />
                3min: <input type="checkbox" name="bar" value="3min" /><br />
                15min: <input type="checkbox" name="bar" value="15min" /><br />
                30min: <input type="checkbox" name="bar" value="30min" /><br />
                1H: <input type="checkbox" name="bar" value="1H" /><br />
                2H: <input type="checkbox" name="bar" value="2H" /><br />
                4H: <input type="checkbox" name="bar" value="4H" /><br />
                6H: <input type="checkbox" name="bar" value="6H" /><br />
                12H: <input type="checkbox" name="bar" value="12H" /><br />
            </p>
        <hr>

        <input type="submit" value="确定">

    </form>

</body>
</html>